
/******************************************************************************/
/** IMPORTS                                                                   */
/******************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url("styles/portfolio.css");
@import url("styles/about.css");
@import url("styles/blog.css");
@import url("styles/contact.css");

@import url("styles/2732.css") (max-width: 2732px);
@import url("styles/2436.css") (max-width: 2436px);
@import url("styles/2224.css") (max-width: 2224px);
@import url("styles/2048.css") (max-width: 2048px);
@import url("styles/1920.css") (max-width: 1920px);
@import url("styles/1668.css") (max-width: 1668px);
@import url("styles/1536.css") (max-width: 1536px);
@import url("styles/1366.css") (max-width: 1366px);
@import url("styles/1334.css") (max-width: 1334px);
@import url("styles/1136.css") (max-width: 1136px);
@import url("styles/1125.css") (max-width: 1125px);
@import url("styles/1112.css") (max-width: 1112px);
@import url("styles/1080.css") (max-width: 1080px);
@import url("styles/1024.css") (max-width: 1024px);
@import url("styles/834.css") (max-width: 834px);
@import url("styles/812.css") (max-width: 812px);
@import url("styles/768.css") (max-width: 768px);
@import url("styles/750.css") (max-width: 750px);
@import url("styles/736.css") (max-width: 736px);
@import url("styles/667.css") (max-width: 667px);
@import url("styles/640.css") (max-width: 640px);
@import url("styles/568.css") (max-width: 568px);
@import url("styles/414.css") (max-width: 414px);
@import url("styles/375.css") (max-width: 375px);
@import url("styles/320.css") (max-width: 320px);

/******************************************************************************/
/** VARIABLES                                                                 */
/******************************************************************************/

:root {
    color-scheme: light dark;
    --main-font-size: 40px;
    --main-font-weight: 400;
    --h1-font-size: calc(var(--main-font-size) * 3.1);
    --h2-font-size: calc(var(--h1-font-size) * 0.75);
    --h3-font-size: calc(var(--h1-font-size) * 0.50);
    --h4-font-size: calc(var(--h1-font-size) * 0.35);
    --hr-height: 15px;
    --tab-font-size: calc(var(--h1-font-size) * 0.33);
    --tab-margin-right: 60px;
    --portfolio-item-height: 700px;
    --portfolio-item-h3-font-size: calc(var(--h1-font-size) * 0.50);
    --portfolio-item-border-radius: 30px;
    --project-content-h2-font-size: calc(var(--main-font-size) + 2px);
    --app-badge-height: 70px;
    --section-padding-bottom: 110px;
    --profile-pic-width: 20vw;
    --blog-item-size: 500px;
    --blog-item-latest-post-font-size: calc(var(--main-font-size) - 7px);
    --blog-item-title-h3-font-size: calc(var(--main-font-size) + 10px);
    --blog-item-date-font-size: calc(var(--main-font-size) - 5px);
    --blog-content-h2-font-size: calc(var(--h1-font-size) - 40px);
    --blog-content-h3-font-size: calc(var(--blog-content-h2-font-size) - 25px);
    --blog-content-h4-font-size: calc(var(--blog-content-h3-font-size) - 5px);
    --blog-footer-profile-pic-width: calc(var(--profile-pic-width) - 150px);
    --blog-footer-about-font-size: calc(var(--main-font-size) - 6px);
    --footer-font-size: calc(var(--main-font-size) - 10px);
}

/******************************************************************************/
/** DARK MODE                                                                 */
/******************************************************************************/

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2A2D28;
        color: #F8EEE9;
    }
    
    footer {
        background-color: #403E3C;
    }
    
    footer > .container p {
        color: #7C726C;
    }
    
    footer > .container a {
        color: #7C726C;
    }
}

/******************************************************************************/
/** LIGHT MODE                                                                */
/******************************************************************************/

@media (prefers-color-scheme: light) {
    body {
        background-color: #F8EEE9;
        color: #474443;
    }
    
    footer {
        background-color: #FFFFFF;
    }
    
    footer > .container p {
        color: #DBD1CC;
    }
    
    footer > .container a {
        color: #DBD1CC;
    }
}

/******************************************************************************/
/** Forsberg Publish Theme                                                    */
/******************************************************************************/

/******************************************************************************/
/** GENERAL RULES                                                             */
/******************************************************************************/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #F85E57;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: var(--h1-font-size);
    text-align: center;
    font-weight: 900;
}

hr {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: var(--hr-height);
    background-color: #F85E57;
    border: none;
}

.section {
    padding-bottom: var(--section-padding-bottom);
}

.section, .page-container {
    padding-top: 20px;
}

a.no-underline {
    text-decoration: none;
}

/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

header {
    height: 50vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

header .bg:before {
    background-image: url("/images/swift_bg.png");
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

header .gradient {
    background-image: linear-gradient(165deg, rgba(248, 94, 87, 1), rgba(248, 94, 87, 0.85), rgba(108, 92, 230, 1));
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

header .logo-container {
    position: absolute;
    align-self: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.logo-container img {
    width: 100%;
}

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/

footer > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

footer > .container p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: var(--footer-font-size);
    font-weight: 600;
    margin: 2px;
}

/******************************************************************************/
/** SYNTAX COLORING                                                           */
/******************************************************************************/

pre code {
    color: #A9BCBC;
}

.preprocessing {
    color: #B68A00;
}

.comment {
    color: #6B8A94;
}

.number {
    color: #DB6F57;
}

.call {
    color: #348FE5;
}

.property {
    color: #21AB9D;
}

.keyword {
    color: #E83B8E;
}

.dotAccess {
    color: #92B300;
}

.type {
    color: #8281CA;
}

.string {
    color: #FA641E;
}
