
:root {
    --main-font-size: 20px !important;
    --pic-width: 14vw !important;
    --portfolio-item-height: 400px !important;
}

/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

/******************************************************************************/
/** BLOG SECTION                                                              */
/******************************************************************************/

/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/
