
/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

header .logo-container {
    width: 75% !important;
}

/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

/******************************************************************************/
/** BLOG SECTION                                                              */
/******************************************************************************/

/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

.contact > .container .icons {
    width: 100%;
}

.contact > .container span {
    font-size: 14vw;
}

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/
