
:root {
    --main-font-size: 24px !important;
}

hr {
    width: 25% !important;
}

/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

header {
    height: 40vh !important;
}

header .logo-container {
    width: 70% !important;
}

/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

/******************************************************************************/
/** BLOG SECTION                                                              */
/******************************************************************************/

/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/









/**/
/*/******************************************************************************/*/
/*/** HEADER                                                                    */*/
/*/******************************************************************************/*/
/**/
/*header .logo-container {*/
/*    width: 40% !important;*/
/*}*/
/**/
/*/******************************************************************************/*/
/*/** PORTFOLIO SECTION                                                         */*/
/*/******************************************************************************/*/
/**/
/*/******************************************************************************/*/
/*/** ABOUT ME SECTION                                                          */*/
/*/******************************************************************************/*/
/**/
/*/******************************************************************************/*/
/*/** BLOG SECTION                                                              */*/
/*/******************************************************************************/*/
/**/
/*/******************************************************************************/*/
/*/** CONTACT SECTION                                                           */*/
/*/******************************************************************************/*/
