
:root {
    --main-font-size: 16px !important;
    --portfolio-item-height: 300px !important;
    --tab-margin-right: 25px !important;
}

/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

.project-content {
    width: 90%;
}

/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

/******************************************************************************/
/** BLOG SECTION                                                              */
/******************************************************************************/

.blog-content h2 {
    margin-top: 50px;
}

.blog-content h3 {
    margin-top: 20px;
}

.blog-content h4 {
    margin-top: 15px;
}

/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/
