
/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

@media (prefers-color-scheme: dark) {
    .contact {
        background-color: #2D2A28;
    }
}

@media (prefers-color-scheme: light) {
    .contact {
        background-color: #F8EEE9;
    }
}

.contact > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact > .container p {
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    margin-bottom: 20px;
}

.contact > .container .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 40px;
}

.contact > .container .icons a {
    color: #B7A69B;
}

.contact > .container span {
    font-size: 5vw;
}
