
:root {
    --main-font-size: 18px !important;
    --pic-width: 16vw !important;
}

/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

header .logo-container {
    width: 50% !important;
}

/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

.me > .container {
    max-width: 80%;
}

/******************************************************************************/
/** BLOG SECTION                                                              */
/******************************************************************************/

.blog > .container .item {
    max-width: 80%;
}

.blog-footer {
    padding: 60px;
}

.blog-footer > .container .icons span {
    font-size: 7vw;
}

/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

.contact > .container span {
    font-size: 7vw;
}

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/
