
:root {
    --main-font-size: 28px !important;
    --tab-margin-right: 30px !important;
}

/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

header .logo-container {
    width: 50% !important;
}

/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

/******************************************************************************/
/** BLOG SECTION                                                              */
/******************************************************************************/

/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

.contact > .container .icons {
    width: 85%;
}

.contact > .container span {
    font-size: 10vw;
}

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/
