
:root {
    --pic-width: 15vw !important;
    --app-badge-height: 40px !important;
}

hr {
    width: 15% !important;
}

/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

.project-content > .main-image {
    width: 30%;
}

/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

.me > .container {
    max-width: 70%;
}

/******************************************************************************/
/** BLOG SECTION                                                              */
/******************************************************************************/

.blog > .container .item {
    max-width: 70%;
}

.blog-footer > .container {
    width: 60%;
}

/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/
