
:root {
    --pic-width: 15vw !important;
}

hr {
    width: 15% !important;
}

/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

.me > .container {
    max-width: 70%;
}

/******************************************************************************/
/** BLOG SECTION                                                              */
/******************************************************************************/

.blog > .container .item {
    max-width: 70%;
}

/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/
