
:root {
    --tab-margin-right: 15px !important;
    --portfolio-item-height: 275px !important;
    --pic-width: 35vw !important;
}

/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

header {
    height: 40vh !important;
}

/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

/******************************************************************************/
/** BLOG SECTION                                                              */
/******************************************************************************/

/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/
