
:root {
    --main-font-size: 16px !important;
    --portfolio-item-height: 300px !important;
    --tab-margin-right: 25px !important;
}

/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

/******************************************************************************/
/** BLOG SECTION                                                              */
/******************************************************************************/

/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/
