
:root {
    --section-padding-bottom: 80px !important;
}

/******************************************************************************/
/** HEADER                                                                    */
/******************************************************************************/

/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

.portfolio-item, .portfolio-item-placeholder {
    width: 47%;
}

.portfolio-item-placeholder {
    display: none;
}

.project-content {
    width: 70%;
}

/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

.me > .container {
    flex-flow: column;
    max-width: 85%;
}

.me > .container > div:first-child {
    text-align: center;
    margin-bottom: 20px;
}

.me > .container .text-box {
    margin-left: 0px;
}

/******************************************************************************/
/** BLOG SECTION                                                              */
/******************************************************************************/

.blog > .container .item {
    max-width: 85%;
}

.blog > .container .item .flex-box {
    flex-flow: column;
}

.blog > .container .item .img-box {
    text-align: center;
    margin-bottom: 20px;
    max-width: revert;
    max-height: revert;
}

.blog > .container .item .img-box img {
    width: 40vw;
}

.blog > .container .item .text-box {
    margin-left: 0px;
}

.blog-content {
    width: 90%;
}

.blog-footer > .container {
    width: 100%;
}

.blog-footer > .container .icons span {
    font-size: 10vw;
}

/******************************************************************************/
/** CONTACT SECTION                                                           */
/******************************************************************************/

.contact > .container .icons {
    width: 95%;
}

.contact > .container span {
    font-size: 10vw;
}

/******************************************************************************/
/** FOOTER                                                                    */
/******************************************************************************/
