
/******************************************************************************/
/** ABOUT ME SECTION                                                          */
/******************************************************************************/

@media (prefers-color-scheme: dark) {
    .me {
        background-color: #2D2A28;
    }
}

@media (prefers-color-scheme: light) {
    .me {
        background-color: #F85E57;
    }
    
    .me h1 {
        color: #FFFFFF !important;
    }
    
    .me hr {
        background-color: #FFFFFF !important;
    }
}

.me > .container {
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.me > .container .profile-pic {
    filter: grayscale();
    border-radius: 50%;
    width: var(--profile-pic-width);
}

.me > .container .text-box {
    margin-left: 60px;
    color: #FFFFFF;
}

.me > .container .text-box p {
    margin-bottom: 6px;
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
}
