
/******************************************************************************/
/** PORTFOLIO SECTION                                                         */
/******************************************************************************/

/******************************************************************************/
/** DARK MODE                                                                 */
/******************************************************************************/

@media (prefers-color-scheme: dark) {
    .portfolio {
        background-color: #403E3C;
    }
    
    .page-container.portfolio {
        background-color: #2D2A28;
    }
    
    .tab-panel > .portfolio-item:first-child .portfolio-item-text-box {
        background-color: #2D2A28;
    }
    
    .portfolio-item-text-box {
        background-color: #2D2A28;
    }
    
    .portfolio-item-text-box > p {
        color: #F8EEE9;
    }
}

/******************************************************************************/
/** LIGHT MODE                                                                */
/******************************************************************************/

@media (prefers-color-scheme: light) {
    .portfolio {
        background-color: #F8EEE9;
    }
    
    .tab-panel > .portfolio-item:first-child .portfolio-item-text-box {
        background-color: #FFFFFF;
    }
    
    .portfolio-item-text-box {
        background-color: #FFFFFF;
    }
    
    .portfolio-item-text-box > p {
        color: #474443;
    }
}

/** Tabs */

.tab-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.tab-container > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tab-container .tab-panel {
  display: none;
}

.tab-container > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tab-container > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2) {
  display: flex;
/*  justify-content: space-between;*/
  flex-wrap: wrap;
}

.portfolio-tab {
    font-family: 'Montserrat', sans-serif;
    margin-right: var(--tab-margin-right);
    font-weight: 700;
    font-size: var(--tab-font-size);
}

.tab-container > label.portfolio-tab {
    color: #B7A69B;
    cursor: pointer;
}

.tab-container > label.portfolio-tab:first-of-type {
    margin-left: 10px;
}

.tab-container > input:checked + label.portfolio-tab {
    color: #F85E57;
}

.tab-panels {
    margin-top: 20px;
}

.portfolio-item, .portfolio-item-placeholder {
    width: 31%;
    flex-grow: 0;
    flex-basis: auto;
    margin-left: 10px;
    margin-right: 10px;
}

/*.half {*/
/*    width: 49%;*/
/*}*/
/**/
/*.full {*/
/*    width: 100%;*/
/*}*/

.portfolio-item-flex-container {
    display: flex;
    flex-direction: row;
    height: var(--portfolio-item-height);
}

.portfolio-item-img-box {
    background-color: #2D2A28;
/*    height: 50%;*/
    width: 50%;
    border-top-left-radius: var(--portfolio-item-border-radius);
    border-bottom-left-radius: var(--portfolio-item-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: -1px;
}

.portfolio-item img {
    max-height: 90%;
    max-width: 80%;
}

.portfolio-item-text-box {
    width: 50%;
    border-top-right-radius: var(--portfolio-item-border-radius);
    border-bottom-right-radius: var(--portfolio-item-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
}

.portfolio-item-text-box > h3 {
    margin: 0px 30px 20px 0px;
    font-size: var(--h3-font-size);
}

.portfolio-item-text-box > p {
    margin: 0px 40px 0px 0px;
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
}

/* First Portfolio Item */

/*.tab-panel > .portfolio-item:first-child .portfolio-item-flex-container {*/
/*    flex-direction: row;*/
/*}*/

/*.tab-panel > .portfolio-item:first-child .portfolio-item-img-box {*/
/*    background-color: #EBD8CC;*/
/*    width: 50%;*/
/*    height: 100%;*/
/*/*    border-top-left-radius: 14px;*/*/
/*/*    border-bottom-left-radius: 14px;*/*/
/*/*    border-top-right-radius: 0px;*/*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.tab-panel > .portfolio-item:first-child img {*/
/*    margin-top: unset;*/
/*    max-height: 80%;*/
/*    max-width: unset;*/
/*}*/

/*.tab-panel > .portfolio-item:first-child .portfolio-item-text-box {*/
/*    width: 50%;*/
/*    border-top-right-radius: 14px;*/
/*    border-bottom-right-radius: 14px;*/
/*    border-bottom-left-radius: 0px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    flex-grow: 0;*/
/*}*/

/*.tab-panel > .portfolio-item:first-child .portfolio-item-text-box > h3 {*/
/*    margin-top: 0px;*/
/*}*/

.portfolio-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.portfolio-more-container a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #B7A69B;
    text-decoration: none;
    font-weight: 600;
}

.portfolio-item-placeholder > .portfolio-item-flex-container {
    background-color: #2D2A28;
    border-radius: var(--portfolio-item-border-radius);
    opacity: 0.4;
}

/******************************************************************************/
/** PORTFOLIO ITEM PAGE                                                       */
/******************************************************************************/

.project-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.project-content > h1 {
    text-transform: uppercase;
}

.project-content > h2 {
    margin-top: 30px;
    font-size: var(--h2-font-size);
}

.project-content > .main-image {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.project-content > p:first-of-type {
    font-size: var(--main-font-size);
}

.project-content > p:nth-of-type(2) {
    font-size: var(--main-font-size);
}

.project-content a {
    text-decoration: none;
    color: #F85E57;
    font-size: var(--main-font-size);
}

.project-content a > img {
    height: var(--app-badge-height);
}

.project-content ul {
    padding-left: 20px;
}

.project-content ul:nth-of-type(2) {
    padding-left: 0px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: var(--main-font-size);
}

.project-content ul:nth-of-type(2) li {
    display: flex;
    align-items: center;
}

.project-content ul:nth-of-type(2) li a {
    margin-left: 10px;
}
